@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: rgb(68, 170, 10);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/874738690/photo/picnic-blanket-and-basket.jpg?s=612x612&w=0&k=20&c=ItIdRqD0BiF6-tGqq6rpyGubgJxNp4WaZWxzJuwnwj8=");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



